<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="goal_x" default="-12.32" />
  <arg name="goal_y" default="10.9" />

  <node name="lane_detector" pkg="parc-solution" type="lane_detector.py" />
  <node name="task1_solution" pkg="parc-solution" type="task1_node.py" args="$(arg goal_x) $(arg goal_y)" output="screen" />
</launch>
